<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <Console name="LoggingToConsole" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %d - %c - [%M] - (%p) - %m - %n
                </Pattern>
            </PatternLayout>
        </Console>
        <File name="LoggingToFile" fileName="logs/myLogging.log">
            <PatternLayout>
                <Pattern>
                    %d - %c - [%M] - (%p) - %m - %n
                </Pattern>
            </PatternLayout>
        </File>
<!--        <JDBC>-->
<!--            -->
<!--        </JDBC>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LoggingToConsole"/>
            <AppenderRef ref="LoggingToFile"/>
        </Root>
    </Loggers>


</Configuration>